*.xlsx filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.pbix filter=lfs diff=lfs merge=lfs -text
AtliQ[[:space:]]Grands[[:space:]]-[[:space:]]Hospitality[[:space:]]Project/Dashboard_design_recordings.zip filter=lfs diff=lfs merge=lfs -text
